<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>产品介绍</title>

    <!-- Theme -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <meta name="theme-color" content="#ECECEC">


</head>
<body>

    <header class="page-header promo-header">
        <div class="container">
            <div class="top-bar row align-items-center">
                <div class="search col-lg-4">
                    <div class="form-search-toggle js-open-search">
                        <i class="search-icon flaticon-magnifying-glass-browser fi-2x"></i>
                        <span>搜&nbsp;&nbsp;索</span>
                    </div>
                    <div id="js-open-mob-menu" class="mob-menu-toggle">
                        <span>Menu</span> <i class="flaticon-menu-options fi-2x"></i>
                    </div>
                </div>

                <div class="logo col-lg-4">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <div class="quick-access-menu col-lg-4">
                    <div class="quick-access__item" style="display: block;padding-right: 70px">
                        <div class="header-mini-cart">
                            <a href="login.html" class="mini-cart-link">
                                <i class="cart__icon flaticon-messenger-user-avatar fi-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="quick-access__item" id="loginnow" style="display: none;">
                        <div class="header-mini-cart">
                            <a href="javascript:;" class="mini-cart-link">
                                <i class="cart__icon flaticon-messenger-user-avatar fi-2x"></i>
                                <span class="mini-cart-link__qty" style="line-height: 10px;margin-top: 10px;color: #999999" id="username">赖&nbsp;志&nbsp;安</span>
                            </a>
                            <div class="mini-cart">
                                <div class="mini-cart__content">
                                    <div class="empty-message">不&nbsp;再&nbsp;继&nbsp;续&nbsp;看&nbsp;看&nbsp;口&nbsp;罩&nbsp;吗&nbsp;？</div>
                                    <a href="personal.html" class="btn btn-primary btn-lg mini-cart__btn">个&nbsp;人&nbsp;中&nbsp;心</a>
                                </div>
                                <div class="mini-cart__footer">
                                    <div class="icon-box icon-box-left justify-content-center">
                                        <div class="icon-box__icon"><span style="background: url(images/exit.png);background-size: 25px;width: 25px;height: 25px;display:inline-block;margin-top: 8px"></span></div>
                                        <div class="icon-box__title"><a href="javascript:;" id="signOut" >退&nbsp;出</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="header-navigation">
                <button class="mob-menu-close" id="js-close-mob-menu">
                    <span>Close</span>
                    <i class="flaticon-cancel-button"></i>
                </button>

                <ul class="nav justify-content-center" style="margin-top: 40px">
                    <li class="nav-item" style="margin-right: 50px">
                        <a class="nav-link homepage active" href="index.html">主页</a>
                    </li>
                    <li class="nav-item" style="margin-right: 50px">
                        <a class="nav-link" href="promo.html">展示</a>
                    </li>
                    <li class="nav-item" style="margin-right: 50px">
                        <a class="nav-link" href="about.html">关于</a>
                    </li>
                    <li class="nav-item" style="margin-right: 50px">
                        <a class="nav-link" href="contact.html">联系</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page-wrap">
        <div class="page-content">
            <main class="main-content">
                <section class="promo-hero text-center d-flex flex-column justify-content-center align-items-center" style="background-image: url(images/10_promo_page_001.jpg);">
                    <div class="container">
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <h1 class="promo-hero__title">选&nbsp;择&nbsp;自&nbsp;己&nbsp;需&nbsp;要&nbsp;的&nbsp;口&nbsp;罩&nbsp;进&nbsp;行&nbsp;预&nbsp;约</h1>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div class="promo-hero__text">我&nbsp;们&nbsp;的&nbsp;产&nbsp;品&nbsp;从&nbsp;来&nbsp;都&nbsp;有&nbsp;保&nbsp;证</div>

                        <div class="promo-hero__scroll" id="js-scroll-down">
                            Scroll down<br><i class="flaticon-down-chevron"></i>
                        </div>
                    </div>
                </section>

                <section class="promo-section" id="scroll-to">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-5 promo-section__img">
                                <img src="images/10_promo_page_002.jpg" alt="">
                            </div>
                            <div class="col-lg-7 promo-section__card">
                                <div class="promo-card">
                                    <a href="single-product.html">
                                        <img src="images/10_promo_page_003.jpg" alt="" class="promo-card__img">
                                    </a>
                                    <div class="promo-card__content">
                                        <h2 class="promo-card__title"><a href="single-product.html">N95&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></h2>
                                        <div class="promo-card__text">更&nbsp;好&nbsp;的&nbsp;防&nbsp;护&nbsp;，&nbsp;更&nbsp;安&nbsp;全</div>
                                        <a href="single-product.html" class="btn btn-primary btn-lg">预&nbsp;约</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="promo-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 promo-section__card">
                                <div class="promo-card promo-card-offset-left">
                                    <a href="single-product-care.html">
                                        <img src="images/10_promo_page_005.jpg" alt="" class="promo-card__img">
                                    </a>
                                    <div class="promo-card__content">
                                        <h2 class="promo-card__title"><a href="single-product-care.html">医&nbsp;用&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></h2>
                                        <div class="promo-card__text">更&nbsp;好&nbsp;的&nbsp;防&nbsp;护&nbsp;，&nbsp;更&nbsp;舒&nbsp;服</div>
                                        <a href="single-product-care.html" class="btn btn-primary btn-lg">预&nbsp;约</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 promo-section__img">
                                <img src="images/10_promo_page_004.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>


                <section class="promo-featured">
                    <div class="container">
                        <h3 class="section-title text-center">口&nbsp;&nbsp;罩&nbsp;&nbsp;预&nbsp;&nbsp;约</h3>

                        <ul class="products featured-products columns-4">
                            <li class="product">
                                <div class="product-thumb">
                                    <span class="onsale">-50%</span>
                                    <a href="single-product-nth.html" class="product-thumb__link">
                                        <img src="images/01_home_page_005.jpg" alt="">
                                        <span class="btn btn-outline-light shop-link">预&nbsp;约</span>
                                    </a>
                                </div>
                                <div class="product-title"><a href="single-product-nth.html">儿&nbsp;童&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></div>
                                <div>&nbsp;</div>
                            </li>
                            <li class="product">
                                <div class="product-thumb">
                                    <a href="single-product.html" class="product-thumb__link">
                                        <img src="images/01_home_page_006.jpg" alt="">
                                        <span class="btn btn-outline-light shop-link">预&nbsp;约</span>
                                    </a>
                                </div>
                                <div class="product-title"><a href="single-product.html">N95&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></div>
                                <div>&nbsp;</div>
                            </li>
                            <li class="product">
                                <div class="product-thumb">
                                    <a href="single-product-one.html" class="product-thumb__link">
                                        <img src="images/01_home_page_007.jpg" alt="">
                                        <span class="btn btn-outline-light shop-link">预&nbsp;约</span>
                                    </a>
                                </div>
                                <div class="product-title"><a href="single-product-one.html">一&nbsp;次&nbsp;性&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></div>
                                <div>&nbsp;</div>
                            </li>
                            <li class="product">
                                <div class="product-thumb">
                                    <a href="single-product-care.html" class="product-thumb__link">
                                        <img src="images/01_home_page_008.jpg" alt="">
                                        <span class="btn btn-outline-light shop-link">预&nbsp;约</span>
                                    </a>
                                </div>
                                <div class="product-title"><a href="single-product-care.html">医&nbsp;用&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></div>
                                <div>&nbsp;</div>
                            </li>
                        </ul>
                    </div>
                </section>


                <section class="promo-section">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-5 promo-section__img">
                                <img src="images/10_promo_page_006.jpg" alt="">
                            </div>
                            <div class="col-lg-7 promo-section__card">
                                <div class="promo-card">
                                    <a href="single-product-nth.html">
                                        <img src="images/10_promo_page_007.jpg" alt="" class="promo-card__img">
                                    </a>
                                    <div class="promo-card__content">
                                        <h2 class="promo-card__title"><a href="single-product-nth.html">儿&nbsp;童&nbsp;防&nbsp;护&nbsp;口&nbsp;罩</a></h2>
                                        <div class="promo-card__text">更&nbsp;好&nbsp;的&nbsp;呵&nbsp;护&nbsp;，&nbsp;更&nbsp;好&nbsp;的&nbsp;爱</div>
                                        <a href="single-product-nth.html" class="btn btn-primary btn-lg">预&nbsp;约</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-subscribe subscribe-wrap-promo" style="background-image:url(images/10_promo_page_008.jpg)">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="subscribe-form d-flex flex-column justify-content-center align-items-center" style="opacity: 0.8;background-color: #e0e0e0">
                                    <div class="section-title section-title-w-text text-center">
                                        <h2 class="h3 section-title__heading">如&nbsp;果&nbsp;有&nbsp;需&nbsp;要&nbsp;的&nbsp;产&nbsp;品</h2>
                                        <div class="section-title__text">请&nbsp;发&nbsp;送&nbsp;至&nbsp;我&nbsp;们</div>
                                    </div>

                                    <div id="messgaeInfo" class="form-inline w-100">
                                        <div class="form-group">
                                            <input type="text" id="needProduct" name="needProduct" class="form-control form-control-lg subscribe-form__input" placeholder="需&nbsp;要&nbsp;的&nbsp;产&nbsp;品">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg subscribe-form__btn" id="submitBtn">发&nbsp;送</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
        </div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="foot-info row">
                <div class="col-md-8">
                    <div class="d-lg-flex align-items-end text-center text-md-left">
                        <a href="/" class="logo-footer">
                            <img src="images/logo-white.png" alt="">
                        </a>
                        <div class="ml-lg-4 page-footer__text" style="line-height: 55px">为&nbsp;了&nbsp;更&nbsp;加&nbsp;方&nbsp;便&nbsp;的&nbsp;进&nbsp;行&nbsp;口&nbsp;罩&nbsp;预&nbsp;约</div>
                    </div>
                </div>

                <div class="social col-md-4" style="margin-top: 8px">
                    <span>Follow us:</span>
                    <ul class="social-links ml-md-3">
                        <li><a href="#"><i class="mdi mdi-qq" style="background:url(images/qq.png);width: 16px;height: 16px;background-size: 16px"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-wechat" style="background: url(images/WeChat.png);width: 16px;height: 16px;background-size: 16px"></i></a></li>
                    </ul>
                </div>
            </div>

            <div>&nbsp;</div>
            <nav class="footer-navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link homepage active" href="index.html">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="promo.html">展示</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">关于</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">联系</a>
                    </li>
                </ul>
            </nav>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>

        </div>
    </footer>

    <div id="js-back-to-top" class="back-to-top"><i class="flaticon-up-arrow-sign"></i> Page top</div>

    <div class="full-search-wrap">
        <div class="full-search container">
            <div class="close-s float-right js-close-search flaticon-cancel-button fi-2x" id="closeIcon"></div>
            <div class=" search-full-form" id="searchDocker">
                <div class="position-relative" style="border-bottom: 1px solid #666666">
                    <i class="search-icon flaticon-magnifying-glass-browser fi-2x" id="searchIcon"></i>
                    <input type="text" id="s-full" class="search-full-form__input" placeholder="Search" style="margin-left: 20px">
                </div>
            </div>
        </div>
    </div>

    <!-- Theme -->
    <script src="assets/js/all.min.js"></script>
    <script src="assets/js/promo.js"></script>
    <script src="assets/js/my-all.js"></script>
</body>
</html>